<section class="hero is-primary">
  <div class="hero-body">
    <p class="title"><%= gettext("Diversity In Tech") %></p>
    <p class="subtitle">
      <%= raw gettext("New Review For Company: <b>%{company}</b>",
        company: @company.name) %>
    </p>
  </div>
</section>

<div class="container">
  <div class="section">
    <%= render "form.html", Map.put(assigns, :action,
      company_review_path(@conn, :create, @company.slug)) %>
  </div>
</div>
