<%= render DiversityInTechWeb.LayoutView, "_header.html",
  title: gettext("Diversity In Tech"),
  subtitle: gettext("Edit Company") %>

<div class="container">
  <div class="section">
    <%= render "form.html", Map.put(assigns, :action, company_path(@conn, :update, @company.slug)) %>
  </div>
</div>
