<%= render DiversityInTechWeb.LayoutView, "_header.html",
  title: dgettext("admin", "Administration"),
  subtitle: dgettext("admin", "New user") %>

<div class="container">
  <div class="section">
    <%= render "form.html", Map.put(assigns, :action, admin_user_path(@conn, :create)) %>
  </div>
</div>
