<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello DiversityInTech!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render("_navbar.html") %>

      <%= render @view_module, @view_template, assigns %>

    <%= render("_footer.html") %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
