.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 3rem;
}

#about .social-media-container {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-top: 0.5rem;
}

#tsp {
  margin-top: 3rem;
  text-align: center;
}
